.footer-container {
  //text-align: center;
  width: 100%;
  background-color: #2f3032;
}
  .main-background {
    color: white;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    box-sizing: border-box;
    margin: auto;
    //max-width: 300px;
    @media all and (min-width: 768px) {
      justify-content: space-around;
      flex-wrap: wrap;
      padding-top:30px;
      flex: 0 1 150px;

    }
    @media all and(min-width: 1200px) {
      flex-wrap:nowrap;
      display: flex;
      max-width: 1200px;

    }
  }
  .about {
    margin-bottom: 15px;
  }
  .info{
    margin-bottom: 5px;

    @media all and (min-width: 768px) {
      margin-bottom: 20px;
    }
  }
  .list {
    display: flex;
    margin-bottom: 15px;
    a{
      color:white;
      list-style-type: none;
      text-decoration: none;
      margin-bottom: 3px;
    }
    li{
      margin-bottom: 3px;
    }
  }

  .fa-facebook {
    background: #3b5998;
    color: white;
  }
  .fa-twitter {
    background: #55acee;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
  .fa-dribbble {
    background: #ea4c89;
    color: white;
  }
  .fa {
    padding: 13px;
    font-size: 20px;
    width: 20px;
    text-align: center;
    text-decoration: none;
    margin: 3px 2px;
    border-radius: 50%;
  }
