.header {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  position: relative;

}

// Main menu style
.main-menu {
  z-index: 11;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;

}

.navbar {
  display: flex;
  >li {
    list-style-type: none;
    flex: 0 0 auto;
  }
  a {
    text-decoration: none;
    padding:10px;
  }
  // Hovering on menu items with child items.
  .parent {
    &:hover {
      >a {
        color: black;
        background-color: $primary;
      }
      .second{
        display: block;
        a {
          &:hover {
            background-color: #E6CF03;

          }
        }
      }
    }
  }
  .second {
    display: none;
    //padding: 10px;
    position: absolute;
    color: black;
    background-color: $primary;
    a {
      top: 40px;
      width: 130px;
      text-align: center;
      padding: 15px;
      display: block;
    }
  }

  .primary-menu-item {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    color:$primary;
    &:hover {
      color: black;
      background-color: #FFE500;
    }
  }
}

.cta-block {
  text-align: center;
  display: inline-block;
  position:absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  margin: 0 auto;
  z-index: 11;
  h1 {
    font-family: Arial, sans-serif;
    font-size: 27px;
    color: white;
    padding-bottom:30px;
    letter-spacing: 0.3em;
  }
  .n1 {
    font-size:16px;
    color: white;
    padding-bottom: 45px;
    letter-spacing: 0.3em;
  }
  a {
    color: black;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-decoration: none;
    margin: 10px 10px;
    padding: 15px 25px 15px 25px;
    background-color: #FFE500;
    display: inline-block;
    &:hover {
      color:white;
      background-color: #cca300;
    }
  }
}



