.intro {
  margin: 0 auto;
  text-align: center;
  width: 100%;
  padding: 20px 30px 20px 30px;
  box-sizing: border-box;
  color: #707070;
  .note{
    letter-spacing: 0.1em;
  }
  .intro-img {
    margin-bottom: 10px;
  }

  @media all and (min-width: $screen-m) {
    padding: 100px 30px 100px 30px;
    .intro-img{
      margin-bottom: 30px;
    }
  }
}