
.portfolio-intro {
  max-width: 750px;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  box-sizing: border-box;
  .portfolio-img{
    margin-bottom: 10px;
    margin-top:15px;
  }
  .portfolio-heading{
    margin-bottom: 10px;
    color: #292929;
    letter-spacing: 0.3em;
  }
  .portfolio-about {
    color: #9d9d9d;
    letter-spacing: 0.2em;
    margin-bottom: 10px;
  }
  @media all and (min-width: 768px) {
   padding: 100px 30px 100px 30px;
    .portfolio-img{
      margin-bottom: 25px;
    }
    .portfolio-heading{
      margin-bottom: 30px;
    }
  }
}
.portfolio-menu{
  text-align: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;

  .left{
    border-top: 1px solid #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
  }
  .right{
    border-top: 1px solid #6F6F6F;
    border-bottom: 1px solid #6F6F6F;
  }
  @media all and (min-width: 768px){
    display: flex;
    justify-content: space-between;
    .main{
      display: flex;
      flex: 1 1 0;
      padding: 30px;
      margin-top: 15px;
      margin-bottom: 15px;

    }
    .test{
      flex: 0 0 50%;

    }
  }
}
.work{
  display: flex;
  flex-wrap: wrap;

  max-width: 1920px;
  margin: auto;
  @media all and(min-width:768px) {

  }
  @media all and(min-width:1024px){
    flex-wrap: nowrap;
    .section {
      flex: 0 1 320px;
    }
    img {
      max-width: 100%;
    }

  }
 }
.section {
  flex: 0 0 270px;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding-top: 15px;
}
  &:hover{
    >.text-box,
    >.background{
      display: block;
    }
  }
  @media all and (min-width: $screen-m) {

    .text-box,
    .background {
      display: none;
    }
  }
  .text-box {
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
    width: 60%;
    height: 60%;
    text-align: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px 5px;
    .tittle {
      letter-spacing: 0.1em;
    }

  }
  .background {
    background-color: yellow;
    width: 40%;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto
  }

.portfolio-button {
  text-align: center;
  margin: 25px;
  @media all and(min-width:768px){
    margin: 80px;
  }
  .like {
    color: black;
    font-size: 10px;
    letter-spacing: 0.1em;
    text-decoration: none;
    padding: 15px;
    background-color: #ffe500;
    &:hover {
      color: white;
      background-color: #cca300;
    }
  }
}













