.projects {
  background-color: #1a1a1a;
  padding: 30px;


  .content {
    max-width: 650px;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
    @media all and (min-width: 1220px) {
      max-width: 1200px;
      justify-content: space-between;
    }
  }
  .box {
    display: flex;
    background-color: #fff;
    text-align: center;
    padding: 4px;
    flex: 0 0 270px;
    box-sizing: border-box;
    @media all and (min-width: 650px) {
      flex: 0 0 calc(50% - 10px);
    }
    @media all and (min-width: 1220px) {
      flex: 0 0 270px;
    }
    margin: 5px;
  }
  .number {
    //padding: 10px;
    letter-spacing: 0.2em;
    font-weight: bold;
  }
  .about {
    letter-spacing: 0.1em;
  }
}


