.quotes-container{
  position: relative;
}

.tape{
  position: absolute;
  background-color: #FF9F00;
  box-sizing: border-box;
  width: 100%;
  display: none;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
  padding: 80px;
  @media all and (min-width: $screen-m){
    display: block;
  }
}
.workspace-img{
  width: 100%;
  margin: 0 auto;
  display: block;
}
.container{
  position: relative;
  &:hover{
    >.overlay{
      display: block;
    }
  }
 }

.overlay{
  position: absolute;
  bottom: 0;
  background-color: #2F3032;
  color: white;
  display: none;
  height: 100%;
  width: 100%;
  text-align: center;
  box-sizing: border-box;
  padding: 50px;
}
.quotes-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 30px 20px;
  box-sizing: border-box;
  margin: auto;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
  position: relative;
  .quote {
    display: flex;
    flex-direction: column;
    &.second {
      .detail {
        order: 2;
      }
    }
  }
  @media all and (min-width: $screen-m) {
    justify-content: space-between;
    margin-top: 30px;
    .quote {
      flex: 0 0 calc(50% - 10px);
      &.second {
        .detail {
          order: inherit;
        }
      }
    }
  }
}
.detail {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 10px;
  .quote-one {
    margin-bottom: 15px;
  }
  .quote-two {
    margin-bottom: 15px;
  }
  .name {
    font-weight: bold;
  }
}


