.services{
  background-color: #F4F4F4;
  padding: 20px;
  box-sizing: border-box;

}
.services-introduction{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  .services-img{
    margin-bottom: 20px;
  }
  .services-heading{
    margin-bottom: 20px;
    color: #3F3F3F;
    letter-spacing: 0.3em;
  }
  .services-description{
    color: #888888;
    padding-left:10px;
    padding-right: 10px;
    letter-spacing: 0.2em;
  }
}
.services-wrapper{
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    //justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
  @media all and(min-width: 768px){
    justify-content: space-between;
  }
  .service-container{
    text-align: center;
    margin-bottom: 35px;
    flex: 0 0 270px;
    display: flex;
    flex-direction: column;


  }
  .service-top {
    box-shadow: 0 0 20px #e1e1e1;
    padding: 20px;
    margin-bottom: 10px;
    background-color: #fff;
    flex: 1;

  }
  .services-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    letter-spacing: 0.2em;
    color: #1A1A1A;

  }
  .service-container-description{
    color: #6F6F6F;
  }
  .service-bottom {
    text-align: left;
    padding: 20px;
    box-shadow: 0 0 20px #E1E1E1;
    background-color: #FFFFFF;
  }
  .gray{
    background-color: #ECECEC;
    border: 1px solid #ECECEC;
    width: 100%;
    margin-bottom: 10px;
  }

  .yellow{
    background-color: #FFE500;
    width: 80%;
    border: 1px solid #FFE500;
    &.ps {
      width: 80%;
    }
    &.ai {
      width: 90%;
    }
    &.id {
      width: 65%;
    }
    &.ui {
      width:90%;
    }
    &.ux {
      width: 85%;
    }
    &.responsive {
      width: 87%;
    }
    &.html {
      width: 97%;
    }
    &.css {
      width: 94%;
    }
    &.js {
      width: 65%;
    }
    &.c-plus {
      width: 74%;
    }
    &.java {
      width: 78%;
    }
    &.swift {
      width: 65%;
    }
  }
  @media all and (min-width:$screen-m) {
     margin-top: 20px;

  }
}


