.our{
  text-align: center;
  //margin:5px;
  .team-img{
    margin:15px;
  }
  .team-heading{
    letter-spacing:0.3em;
    margin-bottom: 10px;
  }
  .team-about{
    margin-bottom:20px;
  }
}

.pack {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  max-width: 300px;
  margin: auto;
  @media all and (min-width: 768px) {
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 0 1 200px;
    max-width: 600px;

  }
  @media all and(min-width: 1224px) {
   flex-wrap:nowrap;
    display: flex;
    max-width: 1200px;
  }
  .picture{
    position: relative;

  }
  .photo{
    display: block;
  }
  .name{
    text-align:center;
    position: absolute;
    bottom:0%;
    background-color: #CA9717;
    letter-spacing: 0.2em;
    opacity: 0.5;
    width: 100%;
    box-sizing: border-box;
    padding: 15px;
  }
  .cv{
    text-align: center;
    display: block;
    padding: 30px;
    box-sizing: border-box;

  }
  .p{
    margin-bottom: 20px;
    box-shadow: 0 0 15px #7B8481;

  }
}
