.video{
  position: relative;
}

.video-img {
  width: 100%;
  margin: 0 auto;

}
.view{
  text-align: center;
  width: 100%;
  position: absolute;
  top: 50%;
  .our-video{
    text-decoration: none;
    border: 1px solid #FFE500;
    color: #FFE500;
    padding: 10px;
    letter-spacing:0.2em;
  }
}